# --- Core Data Processing ---
pandas>=2.0.0
numpy>=1.23.5

# --- Machine Learning & Persistence ---
scikit-learn>=1.2.0
joblib>=1.2.0

# --- Environment & Security ---
python-dotenv>=1.0.0

# --- Data Acquisition ---
kaggle>=1.5.12

# --- Geospatial Analysis ---
osmnx>=1.2.0
geopy>=2.3.0
matplotlib>=3.7.0
networkx>=3.0.0